[PATH]
config=./networks/N3.spec
load=
data=./dataset/ISBI2012/spec/batch
save=./experiments/

[OPTIMIZE]
n_threads=64
force_fft=0
optimize_fft=1

[TRAIN]
train_range=1
test_range=2
outsz=100,100,1
dp_type=volume
cost_fn=cross_entropy
data_aug=1
softmax=1

[UPDATE]
force_eta=0.01
anneal_factor=0.997
anneal_freq=100
momentum=0.9
minibatch=1
norm_grad=0
rebalance=0

[MONITOR]
n_iters=100000
check_freq=5
test_freq=100
test_samples=10
