# To make every parameter explicite, it is not allowed to use default parameters.
# Please do not delete any item of this configuration file.

[parameters]
#[general]
# specification file of network architecture
fnet_spec = ../networks/srini2d.znn
# number of threads
num_threads = 7
# data type of network output: boundary or affinity
out_dtype = affinity

#[train]
# saved network name
train_save_net = ARCHIVE/net.h5
# load the network 
train_load_net =
# files for train
train_range = 1
# files for test
test_range = 3
# learning rate
eta = 0.01
anneal_factor = 0.996
# momentum
momentum = 0
# weight decay
weight_decay = 0
# output size
train_outsz = 2,20,20
# optimize to choose direct convolution of FFT
is_optimize = no
# transform data to enrich training data augmentation?
is_data_aug = no
# balance the boundary and non-boundary voxel?
is_rebalance = no
# use malis weighting of gradient?
is_malis = no
# cost function: square_loss, binomial_cross_entropy, multinomial_cross_entropy, softmax_loss
cost_fn = binomial_cross_entropy

# number of iteration per show
Num_iter_per_show = 500
# number of iteration per test
Num_iter_per_test = 200
# number of forward pass of each test
test_num = 3
# number of iteration per save
Num_iter_per_save = 2000

# maximum iteration
Max_iter = 200000

#[forward]
# image for forward pass
forward_range = 4
# forward network
forward_net = ARCHIVE/net_34000.h5
# output size
forward_outsz = 3,100,100
# output file name prefix
output_prefix = ARCHIVE/out

# samples example
# [sample1]
# fvols =   path/of/image1.tif/h5,
#           path/of/image2.tif/h5
# pp_type = standard2D, none
# is_auto_crop = yes
# flbls = path/of/label1.tif/h5
# fmsks = path/of/mask.tif/h5

[sample1]
fvols = /usr/people/jingpeng/seungmount/research/Jingpeng/43_zfish/fish_train/Merlin_raw1.tif
pp_type = standard2D
is_auto_crop = yes
flbls = /usr/people/jingpeng/seungmount/research/Jingpeng/43_zfish/fish_train/ExportLabels_32bit_Merlin1.tif
fmsks = 

[sample2]
fvols = /usr/people/jingpeng/seungmount/research/Jingpeng/43_zfish/fish_train/Daan_raw.tif
pp_type = standard2D
is_auto_crop = yes
flbls = /usr/people/jingpeng/seungmount/research/Jingpeng/43_zfish/fish_train/ExportLabels_32bit_Daan.tif
fmsks = 

[sample3]
fvols = /usr/people/jingpeng/seungmount/research/Jingpeng/43_zfish/fish_train/Merlin_raw2.tif
pp_type = standard2D
is_auto_crop = yes
flbls = /usr/people/jingpeng/seungmount/research/Jingpeng/43_zfish/fish_train/ExportLabels_32bit_Merlin2.tif
fmsks = 

[sample4]
fvols = /usr/people/jingpeng/seungmount/research/Jingpeng/43_zfish/fish_train/Merlin_raw2.tif
pp_type = standard2D
is_auto_crop = yes
flbls = 
fmsks = 
